.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  .show-hour {
    flex: 0 0 128px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 64px 0 64px 128px;
    border-radius: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    > div:first-child {
      padding-top: 8px;
      border-radius: 24px 0 0;
    }
    > div:last-child {
      padding-bottom: 8px;
      border-radius: 0 0 0 24px;
    }
    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      padding: 4px 0;
      > div:nth-child(2) {
        font-size: 14px;
      }
    }
    .lucky-hour {
      background-color: rgba(255, 175, 175, 0.4);
    }
    .bad-hour {
      background-color: rgba(117, 117, 117, 0.4);
    }
  }
  .show-day {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 64px 0;
    .month-year {
      width: 100%;
      height: 192px;
      line-height: 192px;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
    }
    .date {
      width: 100%;
      text-align: center;
      font-size: 120px;
      font-weight: bold;
      > div:nth-child(2) {
        font-size: 24px;
        line-height: 36px;
      }
      > div:nth-child(3) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .lunar-date {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      line-height: 36px;
      margin-top: 72px;
      .title {
        display: flex;
        font-weight: bold;
        > div {
          flex: 1;
          text-align: center;
        }
      }
      .value {
        display: flex;
        margin-top: 24px;
        font-size: 20px;
        line-height: 24px;
        > div {
          flex: 1;
          text-align: center;
          > div:first-child {
            font-size: 36px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  .show-month {
    margin: 64px 128px 64px 0;
    border-radius: 0 24px 24px 0;
    flex: 1;
    border: none;
    background: none;
    .react-calendar__navigation {
      min-height: 120px;
      padding: 20px;
      font-weight: 400;
      background-color: rgba(68, 138, 255, 0.8);
      margin-bottom: 0;
      border-radius: 0 24px 0 0;
      .react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
      .react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
      .react-calendar__navigation__arrow.react-calendar__navigation__next-button,
      .react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
        font-size: 40px;
        color: #fff;
      }
      .react-calendar__navigation__label {
        font-size: 40px;
        line-height: 36px;
        text-transform: capitalize;
        color: #fff;
      }
      & button:enabled:hover,
      & button:enabled:focus,
      & button[disabled] {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    .react-calendar__viewContainer {
      height: calc(100% - 120px);
      border-radius: 0 0 24px 0;
      background-color: rgba(255, 255, 255, 0.8);
      .react-calendar__month-view {
        height: 100%;
        > div:first-child {
          height: 100%;
          > div:first-child {
            height: 100%;
            .react-calendar__month-view__weekdays {
              background-color: rgba(85, 159, 255, 0.8);
              line-height: 72px;
              .react-calendar__month-view__weekdays__weekday {
                font-size: 24px;
                font-weight: 500;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #fff;
                padding: 0;
                abbr {
                  text-decoration: none;
                }
              }
            }
            .react-calendar__month-view__days {
              height: calc(100% - 72px);
              background-color: rgba(255, 255, 255, 0.8);
              border-radius: 0 0 24px 0;
              .react-calendar__tile.react-calendar__month-view__days__day {
                border-radius: 50%;
                abbr {
                  font-size: 24px;
                  font-weight: 500;
                  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                }
                p {
                  margin-block-start: 8px;
                  margin-block-end: 0;
                  font-size: 16px;
                  font-weight: 500;
                  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  color: #c3c3c3;
                }
                &.react-calendar__month-view__days__day--weekend {
                  &.react-calendar__month-view__days__day--neighboringMonth
                    > p {
                    color: #c3c3c3;
                  }
                  > p {
                    color: #ffafaf;
                  }
                }
                .react-calendar__tile:enabled:hover,
                .react-calendar__tile:enabled:focus {
                  background-color: rgba(230, 230, 230, 0.2);
                }
              }
              .react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
                > p {
                  color: #e6e6e6;
                }
              }
              .react-calendar__tile--active {
                background-color: rgba(68, 138, 255, 0.8);
              }
            }
          }
        }
      }
    }
    .react-calendar__year-view {
      height: 100%;
      .react-calendar__year-view__months {
        height: 100%;
        .react-calendar__tile.react-calendar__year-view__months__month {
          font-size: 24px;
          font-weight: 500;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #808080;
        }
        .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__year-view__months__month {
          background-color: rgba(85, 159, 255, 0.6);
          color: #fff;
        }
        .react-calendar__tile:enabled:hover,
        .react-calendar__tile:enabled:focus {
          background-color: rgba(230, 230, 230, 0.6);
        }
      }
    }
    .react-calendar__decade-view {
      height: 100%;
      .react-calendar__decade-view__years {
        height: 100%;
        .react-calendar__tile.react-calendar__decade-view__years__year {
          font-size: 24px;
          font-weight: 500;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #808080;
        }
        .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__decade-view__years__year {
          background-color: rgba(85, 159, 255, 0.6);
          color: #fff;
        }
        .react-calendar__tile:enabled:hover,
        .react-calendar__tile:enabled:focus {
          background-color: rgba(230, 230, 230, 0.6);
        }
      }
    }
    .react-calendar__century-view {
      height: 100%;
      .react-calendar__century-view__decades {
        height: 100%;
        .react-calendar__tile.react-calendar__century-view__decades__decade {
          font-size: 24px;
          font-weight: 500;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #808080;
        }
      }
      .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__century-view__decades__decade {
        background-color: rgba(85, 159, 255, 0.6);
        color: #fff;
      }
      .react-calendar__tile:enabled:hover,
      .react-calendar__tile:enabled:focus {
        background-color: rgba(230, 230, 230, 0.6);
      }
    }
  }
}
